/* -- custom css for file collection.html -- */

/* -- collection-item-image -- */
#obj-83440 {
	background-image:url(../../img/85893.jpg);
}

/* -- collection-item-image -- */
#obj-96106 {
	background-image:url(../../img/16448.jpg);
}

/* -- collection-item-image -- */
#obj-23656 {
	background-image:url(../../img/92582.jpg);
}

/* -- collection-item-image -- */
#obj-44260 {
	background-image:url(../../img/72329.png);
}

/* -- collection-item-image -- */
#obj-60810 {
	background-image:url(../../img/97366.png);
}

/* -- collection-item-image -- */
#obj-73308 {
	background-image:url(../../img/82682.jpg);
}

/* -- collection-item-image -- */
#obj-89858 {
	background-image:url(../../img/97202.png);
}

/* -- collection-item-image -- */
#obj-13355 {
	background-image:url(../../img/15508.jpg);
}

/* -- collection-item-image -- */
#obj-33958 {
	background-image:url(../../img/87310.png);
}

/* -- collection-item-image -- */
#obj-62668 {
	background-image:url(../../img/89265.png);
}

/* -- collection-item-image -- */
#obj-75166 {
	background-image:url(../../img/80220.jpg);
}

/* -- collection-item-image -- */
#obj-27034 {
	background-image:url(../../img/35441.png);
}

/* -- collection-item-image -- */
#obj-59798 {
	background-image:url(../../img/81009.jpg);
}

/* -- collection-item-image -- */
#obj-80401 {
	background-image:url(../../img/87445.png);
}

/* -- collection-item-image -- */
#obj-20111 {
	background-image:url(../../img/42941.jpg);
}

/* -- collection-item-image -- */
#obj-40714 {
	background-image:url(../../img/24804.jpg);
}

/* -- collection-item-image -- */
#obj-61318 {
	background-image:url(../../img/27327.png);
}

/* -- collection-item-image -- */
#obj-94081 {
	background-image:url(../../img/28983.jpg);
}

/* -- collection-item-image -- */
#obj-29737 {
	background-image:url(../../img/61053.png);
}

/* -- collection-item-image -- */
#obj-62501 {
	background-image:url(../../img/42085.jpg);
}

