/* -- custom css for file datalist.html -- */

/* -- page-content -- */
#page-contents-o-38921 {
	background-color: rgb(247, 248, 250);
}

/* -- fa fa-fw fa-adn -- */
#obj-547711 {
	color:rgb(255,254,254);
	 background-color:rgb(230,0,0);
}

/* -- fa fa-fw fa-apple -- */
#obj-735181 {
	color:rgb(255,254,254);
	 background-color:rgb(0,93,0);
}

/* -- fa fa-fw fa-android -- */
#obj-130571 {
	color:rgb(255,254,254);
	 background-color:rgb(25,107,250);
}

