/* -- custom css for file index.html -- */

/* -- page-content text-white -- */
#left-panel-page-content-o-37804 {
	background-color: rgb(59, 59, 59);
}

/* -- block custom-block -- */
#obj-80178 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block text-center mt-3 -- */
#obj-3777011 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block text-center mt-1 -- */
#obj-247471 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- h3 -- */
#obj-781861 {
	font-size: 13px;
	 min-height: 30px;
}

/* -- fa material-icons mr-1 -- */
#obj-282751 {
	font-size: 22px;
}

/* -- page-content tab bg-color-white tab-active -- */
#tab-1 {
	background-color: rgb(247, 249, 249);
}

/* -- fa fa-cog fa-spin fa-fw s-3 -- */
#obj-88830 {
	color: rgb(146, 148, 148);
}

/* -- list bg-white text-black mt-0 -- */
#obj-101261 {
	border-color: rgb(222, 31, 135);
}

/* -- fa fa-fw fa-font -- */
#obj-50921 {
	color:rgb(255, 254, 254);
	 background-color:rgb(47, 140, 147);
}

/* -- f7-icons -- */
#obj-24561 {
	color:rgb(255, 254, 254);
	 background-color:rgb(46, 139, 144);
}

/* -- f7-icons -- */
#obj-23807 {
	color:rgb(255, 254, 254);
	 background-color:rgb(244, 184, 16);
}

/* -- material-icons -- */
#obj-53024 {
	color:rgb(255, 254, 254);
	 background-color:rgb(244, 184, 16);
}

/* -- material-icons -- */
#obj-78019 {
	color:rgb(255, 254, 254);
	 background-color:rgb(244, 177, 16);
}

/* -- list bg-white text-black mt-0 -- */
#obj-1012611 {
	border-color: rgb(222, 31, 135);
}

/* -- material-icons -- */
#obj-79122 {
	color:rgb(255, 254, 254);
	 background-color:rgb(34, 116, 79);
}

/* -- f7-icons -- */
#obj-15115 {
	color:rgb(255, 254, 254);
	 background-color:rgb(34, 118, 79);
}

/* -- material-icons -- */
#obj-15791 {
	color:rgb(255, 254, 254);
	 background-color:rgb(34, 116, 78);
}

/* -- material-icons -- */
#obj-89255 {
	color:rgb(255, 254, 254);
	 background-color:rgb(30, 99, 62);
}

/* -- f7-icons -- */
#obj-65612 {
	color:rgb(255, 254, 254);
	 background-color:rgb(26, 82, 49);
}

/* -- f7-icons -- */
#obj-33862 {
	color:rgb(225, 232, 237);
	 background-color:rgb(23, 65, 38);
}

/* -- f7-icons -- */
#obj-26431 {
	color:rgb(255, 254, 254);
	 background-color:rgb(20, 52, 30);
}

/* -- list bg-white text-black mt-0 -- */
#obj-10126111 {
	border-color: rgb(222, 31, 135);
}

/* -- f7-icons -- */
#obj-98648 {
	color:rgb(255, 254, 254);
	 background-color:rgb(64, 87, 78);
}

/* -- f7-icons -- */
#obj-30758 {
	color:rgb(255, 254, 254);
	 background-color:rgb(64, 87, 78);
}

/* -- f7-icons -- */
#obj-27380 {
	color:rgb(255, 254, 254);
	 background-color:rgb(64, 87, 78);
}

/* -- f7-icons -- */
#obj-11843 {
	color:rgb(255, 254, 254);
	 background-color:rgb(64, 87, 78);
}

/* -- f7-icons -- */
#obj-77201 {
	color:rgb(255, 254, 254);
	 background-color:rgb(50, 70, 62);
}

/* -- list bg-white text-black mt-0 -- */
#obj-101261111 {
	border-color: rgb(222, 31, 135);
}

/* -- f7-icons -- */
#obj-94028 {
	color:rgb(255, 254, 254);
	 background-color:rgb(208, 0, 37);
}

/* -- fa fa-fw fa-map-marker -- */
#obj-91833 {
	color:rgb(255, 254, 254);
	 background-color:rgb(216, 0, 39);
}

/* -- list bg-white text-black mt-0 -- */
#obj-1012611111 {
	border-color: rgb(222, 31, 135);
}

/* -- f7-icons -- */
#obj-60867 {
	color:rgb(255, 254, 254);
	 background-color:rgb(24, 140, 239);
}

/* -- f7-icons -- */
#obj-21180 {
	color:rgb(255, 254, 254);
	 background-color:rgb(24, 140, 239);
}

