/* -- custom css for file maps.html -- */

/* -- googlemap -- */
#obj-97803 {
	height: 267px;
}

/* -- googlemap-item -- */
#obj-61662 {
	border:0
}

/* -- embed-responsive-item -- */
#obj-52579 {
	border: 0px solid transparent
}

