/* -- custom css for file swiper.html -- */

/* -- swiper-slide swiper-slide-visible swiper-slide-active -- */
#obj-ablaye413 {
	width: 368px;
	 margin-right: 10px;
}

/* -- block custom-block -- */
#obj-41301 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- swiper-slide swiper-slide-next -- */
#obj-gcdvmi167 {
	width: 368px;
	 margin-right: 10px;
}

/* -- block custom-block -- */
#obj-39639 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- img img-fluid rounded -- */
#obj-65450 {
	border: 0px;
}

/* -- swiper-slide -- */
#obj-rnzulo492 {
	width: 368px;
	 margin-right: 10px;
}

/* -- block custom-block -- */
#obj-97489 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

