/* -- custom css for file swiper3d.html -- */

/* -- swiper-container swiper-init swiper-container-3d swiper-container-initialized swiper-container-horizontal swiper-container-ios -- */
#obj-50226 {
	max-width: 320px;
	 width: 320px;
	 height: 320px;
}

/* -- swiper-slide swiper-slide-active -- */
#obj-57271 {
	background-image: url("../../img/77650.jpg");
	 width: 320px;
}

/* -- swiper-slide swiper-slide-next -- */
#obj-65546 {
	background-image: url("../../img/49066.jpg");
	 width: 320px;
}

/* -- swiper-slide -- */
#obj-49503 {
	background-image: url("../../img/42312.png");
	 width: 320px;
}

/* -- swiper-slide -- */
#obj-33459 {
	background-image: url("../../img/83012.jpg");
	 width: 320px;
}

/* -- swiper-slide -- */
#obj-98310 {
	background-image: url("../../img/50934.jpg");
	 width: 320px;
}

/* -- swiper-slide -- */
#obj-74160 {
	background-image: url("../../img/81624.jpg");
	 width: 320px;
}

/* -- swiper-container swiper-init swiper-container-3d mt-0 swiper-container-initialized swiper-container-horizontal swiper-container-ios -- */
#obj-502261 {
	max-width: 320px;
	 width: 320px;
	 height: 320px;
}

/* -- swiper-slide swiper-slide-active -- */
#obj-58251 {
	background-image: url("../../img/53005.jpg");
	 width: 320px;
}

/* -- swiper-slide swiper-slide-next -- */
#obj-66526 {
	background-image: url("../../img/14130.jpg");
	 width: 320px;
}

/* -- swiper-slide -- */
#obj-46429 {
	background-image: url("../../img/94752.png");
	 width: 320px;
}

/* -- swiper-slide -- */
#obj-22279 {
	background-image: url("../../img/52488.jpg");
	 width: 320px;
}

/* -- swiper-slide -- */
#obj-87130 {
	background-image: url("../../img/69188.jpg");
	 width: 320px;
}

/* -- swiper-slide -- */
#obj-58926 {
	background-image: url("../../img/59357.jpg");
	 width: 320px;
}

/* -- swiper-container swiper-init swiper-container-3d mt-0 mb-5 w-100 swiper-container-initialized swiper-container-horizontal swiper-container-ios -- */
#obj-5022611 {
	max-width: 320px;
	 width: 320px;
	 height: 417px;
}

/* -- swiper-slide swiper-slide-active -- */
#obj-19629 {
	background-image: url("../../img/72543.jpg");
	 width: 370px;
}

/* -- swiper-slide swiper-slide-next -- */
#obj-31957 {
	background-image: url("../../img/43292.jpg");
	 width: 370px;
}

/* -- swiper-slide -- */
#obj-15913 {
	background-image: url("../../img/77915.png");
	 width: 370px;
}

/* -- swiper-slide -- */
#obj-80764 {
	background-image: url("../../img/11502.jpg");
	 width: 370px;
}

/* -- swiper-slide -- */
#obj-56614 {
	background-image: url("../../img/44251.jpg");
	 width: 370px;
}

/* -- swiper-slide -- */
#obj-28411 {
	background-image: url("../../img/86771.jpg");
	 width: 370px;
}

