/* -- custom css for file typographie.html -- */

/* -- block custom-block -- */
#obj-42196 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-strong inset -- */
#obj-96714 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-strong inset -- */
#obj-55493 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-strong inset -- */
#obj-68189 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-strong inset -- */
#obj-681891 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block text-center mt-1 mb-0 -- */
#obj-98123 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- badge ml-1 -- */
#obj-159691111 {
	background-color: rgb(144, 0, 145);
}

/* -- badge ml-1 text-white -- */
#obj-15969111111 {
	background-color: rgb(239, 212, 94);
}

/* -- h2 -- */
#obj-66222 {
	font-family: "Abril Fatface";
}

/* -- h2 -- */
#obj-662221 {
	font-family: Aclonica;
}

/* -- h2 -- */
#obj-65472 {
	font-family: Adamina;
}

/* -- h2 fw-100 -- */
#obj-30277 {
	font-size: 13px;
}

